<%- include header %>

<body>
	<section class="main">
		<% if (req.session.passport.user) { %>
			<% if (req.param('gameId')) { %>
				<% include playview %>
			<% } else { %>
				<% include gamemenu %>
			<% } %>
		<% } else { %>
			<div class="single-column">
				<h1>Enterpriser</h1>
				<marquee>
					<span>Growth in Britain's economy as youth learn with Enterpriser</span>
					<span>Man sues beach after not hearing sea in shell<span>
				</marquee>
				<h2>Trade...</h2>
				<% include login %>
				<hr>
				<h2>Register</h2>
				<% include register %>
			</div>
		<% } %>
	</section>
	<script src="javascripts/game.js"></script>
	<script src="javascripts/companyCard.js"></script>
	<script src="javascripts/main.js"></script>
</body>

<% include footer %>
