<body>
	<p class="urgent"><%= typeof loginError === "undefined" ? "" : loginError %></p>
	<form action="/login" method="post">
		<h4>Your Name:</h4>
		<input type="text" name="username"></input>
		<h4>Your Passphrase:</h4>
		<input type="password" name="password"></input>
		<input type="submit" value="Enter"></input>
	</form>
</body>
