<section class="playView">

  <section id="left">

    <section id="search">
      <h2>Search For Company:</h2>
      <div class="ui-widget">


      <div class="ui-front">
        <input id="companySearch" type="text" placeholder="Find Company">
        <div class="ui-helper-hidden-accessible"></div>
      </div>
    </div>
    </section>

  <section class="companyCard">

  <section id="info"><!-- rivets.bind($("#info"),blah)-->
    <div id="name"><h2 data-text='info:name'>Apple</h2></div>
    <div id="code"><h3 data-text='info:code'>AAPL</h3></div>
    <div id="amount" data-show="info:available">
    <ul>
      <li data-text="amount:stockprice">Stock Price: 90</li>
      <li data-text="amount:stockavailable">Stock Availiable: 1000</li>
    </ul>
    </div>

  </section>

  <div id="orderStock">
    <div class="slider" id="amountShares"></div>
    <button id="placeOrder">Place Order</button>
    <div id="stats"></div>
  </div>
  </section>

</section>


  <section id="companyGraphic">
      <div id="tips">Tips for the user.</div>
  </section>

  <section id="right">
    <section class="yourCard">
    <div id="gMap">Map</div>
    <div id="info">Info</div>
    <div id="stats">Stats</div>
    Here you will have a screen showing your companies information.
  </section>
</section>
</section>
