<script>var gameId = <%= gameId %></script>
<section class="playView">
    <section id="left">
	   <section id="search">
		  <h2>Search For Company:</h2>
		  <div class="ui-widget">
			 <div class="ui-front">
				<input id="companySearch" type="text" placeholder="Find Company">
				<div class="ui-helper-hidden-accessible"></div>
			 </div>
		  </div>
	   </section>
	   <section id="companyCard">
		  <section id="info"><!-- rivets.bind($("#info"),blah)-->
			 <div id="name"><h2 rv-text='companyCard.name'>Apple</h2></div>
			 <div id="code"><h3 rv-text='companyCard.code'>AAPL</h3></div>
			 <div id="amount">
				<ul>
				    <li rv-text="companyCard.stockprice">Stock Price: 90</li>
				    <li rv-text="companyCard.stockavailable">Stock Availiable: 1000</li>
				</ul>
			 </div>
		  </section>
		  <div id="orderStock">
			 <div class="slider" id="amountShares"></div>
			 <button id="placeOrder">Place Order</button>
			 <div id="stats"></div>
		  </div>
	   </section>
    </section>
    <section id="companyGraphic">
	   <div id="tips">Tips for the user.</div>
    </section>
    <section id="right">
	   <section class="yourCard">
		  <div id="info">
			 <h3>Company Name: </h3><h3 id="companyName" rv-text="yourCard.companyName"></h3>
			 <h3>Company Code: </h3><h3 id="companyId" rv-text="yourCard.companyId"></h3>
			 <h3>Your Balance: </h3><h4 rv-text="yourCard.balance"></h4>
			 <h3>Shares: </h3><h4 rv-text="yourCard.shares"></h4>
			 <h3>Share Price: </h3><h4 rv-text="yourCard.sharePrice"></h4>
			 <div id="portfolio">
				<h3>Your Portfolio</h3>

				<ul rv-each-portfoli = "companies">
				    <li rv-text="portfoli.name"></li>
				    <li rv-text="portfoli.id"></li>
				    <li rv-text="portfoli.stockAvailable"></li>
				    <input placeholder="Amount to sell"></input>
				    <button rv-on-click="portfoli.sell"></button>
				</ul>
			 </div>
		  </div>
	   </section>
	   <div id="valueGraph"></div>
	   <div id="stats">Stats</div>
    </section>
</section>
